body{
    background-color:black;
}
img{
    align-items: center;
}
p{
    
    text-align: center;
    color: aqua;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.ufo {
   
    margin-top: 10vh;
  }
  @keyframes ufu {
    from {
      transform: rotatez(0deg);
    }
    to {
      transform: rotatez(360deg);
    }
  }
  .ufo {
    cursor: pointer;
    animation: ufu 5s infinite;
  }